@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

$color1 : #2a2a2a;
$color2 : #fff;
$fontsize : 14px;
$fontfamily : 'Josefin Sans',
sans-serif;
$first_Backgroud :#7453fc;
$second_Backgroud :#1e1e1e;

* {
  padding: 0;
  margin: 0;
  font-family: $fontfamily;
  box-sizing: border-box;
  // height: fit-content;
  user-select: none;
}

section {
  height: 625px;
  padding: 67px !important;
}

/* preloader start */

.lds-ellipsis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $first_Backgroud;
}

.lds-ellipsis div {
  position: relative;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.5s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.5s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.5s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.5s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* preloader end */





header {
  height: fit-content;
  background-image: url("images/heading-bg.jpg");
  background-size: cover;
  padding: 46px;


  .upper-part {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;

    .container-fluid {
      display: flex;
      justify-content: center;
      align-items: center;

      .row {
        background-color: #fff;
        border-radius: 100px;
        padding: 20px;
        width: 90%;

        .col-lg-3 {
          display: flex;
          align-items: center;

          img {
            width: 150px;
          }
        }

        .col-lg-9 {
          display: flex;
          justify-content: flex-end;
        }

        nav {
          font-size: $fontsize;
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: $color1;
          }

          ul {
            display: flex;
            margin: 0;

            li {
              list-style-type: none;
              margin: 0 5px;
              padding: 10px;
              border-radius: 25px;
              font-weight: 500;

            }

            li:hover {
              background-color: $first_Backgroud;
              color: $color2;
              cursor: pointer;
              transition: 1s;
            }
          }
        }
      }
    }
  }


  .lower-part {
    height: fit-content;
    padding-top: 20px;

    .container {
      color: $color2;

      .row {
        .col-lg-6 {
          display: flex;
          align-items: center;

          div {
            img {
              width: 500px;
            }

            h3 {
              font-size: 55px;
              text-align: center;
            }

            h4 {
              font-size: 25px;
              margin: 20px;
              text-align: center;
            }

            button {
              background-color: $color2;
              color: $second_Backgroud;
              padding: 10px 20px;
              font-size: 18px;
              border: none;
              border-radius: 40px;
              text-align: center;
              margin: 0 20px;
              border-radius: 10px;
              border-bottom: 7px solid #000000;
              border-bottom-left-radius: 13px;
              border-bottom-right-radius: 13px;
            }

            button:active {
              border-bottom: none;
              margin-top: 6px;
            }

            .btn {
              display: flex;
              justify-content: center;
              height: 60px;
            }
          }
        }
      }
    }
  }
}


#About-me {
  background-image: url("images/dark-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 625px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    color: $color2;
    text-align: center;

    .row {
      display: flex;
      align-items: center;

      .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          background-color: $first_Backgroud;
          width: 200px;
          height: 3px;
        }

        p {
          color: #fff;
          text-align: center;
          font-size: 30px;
        }
      }
    }

    #row2 {
      margin-top: 150px;

      .col-md-6 {
        div#divBtnImg {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 270px;
          border-radius: 20px;
          border: 2px solid $first_Backgroud;
        }

        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
          margin: 20px 0 0 10px;
        }

        .active,
        .dot:hover {
          background-color: $first_Backgroud;
        }

        button {
          background-color: #fff;
          border: none;
          width: 70px;
          border-radius: 7px;
          margin: 0 40px;
          padding: 5px;
          color: #1e1e1e;
          font-size: 30px;
          border-bottom: 7px solid $first_Backgroud;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          color: $first_Backgroud;
        }

        button:active {
          border-bottom: none;
          margin-top: 4px;
          // background-color: $first_Backgroud;
          // color: $color2;
        }

        button:hover {
          color: $first_Backgroud;
        }

      }


      h4,
      h1,
      p {
        margin: 30px 0;
      }
    }
  }
}


.animate {
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: .1
  }

  to {
    opacity: 1
  }
}

.active,
.dot:hover {
  background-color: #717171;
}





@media only screen and (max-width: 992px) {

  .upper-part {
    margin: 0 !important;
    padding: 0 !important;
    background-color: $color2 ;
    border-radius: 0px !important;
    height: fit-content;
  }

  header {
    height: 170vh;
  }

  section {
    height: 163vh;
  }

  .container-fluid {
    display: inline;
    padding: 0 !important;

  }

  #row1 {
    background-color: #fff !important;
    border-radius: 0px !important;
    padding: 20px !important;
    width: 100% !important;
    display: inline;

  }


  .col-lg-3 {
    display: flex !important;
    justify-content: center;

    .logo {
      display: flex;
      justify-content: center;
    }

  }

  .col-lg-9 {
    flex-direction: column;
    align-items: center;
  }

  ul {
    padding-left: 0px !important;
    flex-direction: column;
    align-items: center;

    li {
      width: 200px;
      text-align: center;
    }
  }

  div {
    img#img2 {
      width: 350px;
      display: block;
      margin: 0 auto;
    }
  }

  h3 {
    font-size: 45px !important;
  }

  h4 {
    font-size: 15px !important;
  }

  .col-lg-6 {
    display: flex !important;
    justify-content: center;

    #img2 {
      display: block;
      margin: 0 auto;
    }

    button {
      display: block;
      margin: 10px 0 !important;
    }

    .btn div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  #About-me {
    .row {
      display: flex;
      flex-direction: column;
    }

    #row2 {
      button {
        background-color: #fff;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
        margin: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        user-select: none;
        color: #1e1e1e;

        span {
          font-size: 15px;
        }
      }

    }

  }


}

.background-header {
  height: 70px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  transition: all .5s ease 0s;
}



section#niches {
  background-image: linear-gradient(to bottom right, $first_Backgroud, $color1);
  text-align: center;
  color: #fff;
  height: 1160px;

  .container {
    .row {
      .col-md-12 {
        display: flex;
        justify-content: center;
        align-items: center;

        #hrDiv {
          background-color: $second_Backgroud;
          width: 200px;
          height: 3px;
          display: block;
          margin: 0 auto;
        }

        h1 {
          margin: 25px;
          font-size: 30px;
        }

        #NichesH1 {
          margin: 30px;
          font-size: 35px;
        }

        #niches {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          background-image: none;
          width: fit-content;



          .Niche {
            display: inline;
            background-color: $color2;
            margin: 20px;
            padding: 20px;
            border-radius: 20px;
            height: 373px;
            transition: transform .4s;
            opacity: 0.90;
            border: 3px solid $color1;
          }

          .Niche:hover {
            transform: scale(1.04);
            opacity: 1;
            box-shadow: 2px 2px 5px 5px #fff;
            border: 3px solid #2a2a2a00;
          }

          img {
            width: 250px;
            height: 200px;
          }

          h1 {
            font-size: 23px;
            text-transform: capitalize;
            color: #1e1e1e;
          }

          button {
            background-color: $first_Backgroud;
            border: none;
            padding: 5px 10px;
            color: white;
            font-size: 20px;
            border-radius: 10px;
            border-bottom: 7px solid #000000;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
            margin-top: 5px;
          }

          button:active {
            border-bottom: none;
            margin-top: 10px;
          }
        }
      }
    }
  }
}


#comments {
  padding: 0px !important ;
  height: 97.5vh;
  overflow: hidden;
  .container {
    margin: 0px;
    height: 100%;
    padding: 0px;
    width: 100%;
    .row {
      height: 100%;
      width: 100%;
      .col-md-12 {
        .slideDivP {
          width: 100%;
          height: 100%;
          display: flex;

          .page {
            min-width: 1349px;
            height: 100%;
            font-size: 46px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          :nth-child(1) {
              background-color: #7453fc;
          }
          :nth-child(2) {
              background-color: red;
          }
          :nth-child(3) {
              background-color: green;
          }
        }

        div.scroll {
          position: relative;
          height: 5px;
          width: 0;
          background-color: #fff;
          top: 0;
          left: 0;
        }
      }
    }
  }
}